:root {
  --accent-color-bolog: #03a9f4;
  --menu-color-blog: #7d7d7d;
  --link-color-blog: #b4ad9e;
  --title-color-blog: #626262;
  --cpntent-color-blog: #626262;
}

body {
  font-family: "Playfair Display", serif;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
}

li {
  list-style: none;

}


a {
  text-decoration: none;
}

<<<<<<< HEAD
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* header */
.header-link {
  color: var(--menu-color-blog);
  text-transform: uppercase;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color-bolog);
}

/* section */
.blogs-link {
  color: var(--link-color-blog);
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.blogs-link:hover,
.blogs-link:focus {
  color: var(--accent-color-bolog);
}

.blogs-title {
  color: var(--title-color-blog);
  font-size: 30px;
}

.blogs-text {
  color: var(--cpntent-color-blog);
}

.blogs-button {
  color: var(--cpntent-color-blog);
  background-color: aliceblue;
  cursor: pointer;
}

.blogs-button:hover,
.blogs-button:focus{
background-color: var(--accent-color-bolog);
color: wheat;
}
=======
li {
  list-style: none;
}

/* header */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo-sryle {
  color: #000;
}

.logo-sryle:hover,
.logo-sryle:focus {
  color: var(--accent-color);
}

.menu-link {
  color: var(--color-title);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-cont {
  color: var(--basik-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-cont:hover,
.header-cont:focus {
  color: var(--accent-color);
}
=======
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
>>>>>>> 075fe64cc2a488c64d43bc046436e851238f6af9
>>>>>>> b5118e756d8848162108e336afc2206e08f5c84e
